.container-ex1 {
    background-image: url('../../../public/images/nuvem-galaxia.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .titulo{
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: 'Bold';
    }

    h1 {
        color:white;
        font-size: 2em;
    }

    h2 {
        color: #fff;
        font-family: 'Bold';
        font-size: 1.5em;
    }

    p {
        font-family: 'Bold';
        color: #fff;
    }
    
    .alinhamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
    }
    
    .quadro {
    padding: 2em;
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: rgb(11, 11, 11);
    width: 30%;
    border-radius: 1em;
    
    }
    
    .inserir {
        border: none;
        width: 35em;
        height: 2em;
        border-radius: 8px;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .resul {
        margin-left: 15px;
        color: #fff;
        font-family: 'Bold';
        font-size: 1.5em;
    }

    .save-button {
        font-family:'Bold';
        font-size: 1em;
        color:#fff;
        background-color: #AE4EDB;
        border-radius: 8px;
        margin-bottom: 1em;
        width: 6em;
        height: 2.5em;
        border: none;
    }

    .save-button:hover {
    
        background-color: white;
        color:#AE4EDB;
        cursor: pointer;
        transition: 0.2s;
    }
    

}





