.titulo{
    font-family: 'sans-serif';
}

.alinhamento {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 85vh;
}

.quadro {
padding: 2em;
display: flex;
flex-direction: column;
opacity: 76%;
background-color: rgb(158, 7, 228);
width: 40%;
border-radius: 1em;

}

.inserir {
    border: none;
    width: 35em;
    height: 2em;
    border-radius: 8px;
}
