
.jogo {
        position: relative;
        width:300px;
        height: 300px;

        h1 {
            font-family: 'Bold';
        }

    .veia {
        width: 155%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    

    .veia button {
        border: 1px solid #fff;
        font-size: 2rem;
        line-height: 0;
        height: 4em;
    }

    .decisao {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 112%;
        transform: translateX(-50%) translateY(-50%);
        background: rgba(105, 38, 156, 1);
        border-radius: 10px;
        padding: 15px;
        font-family: 'Regular';
    }

    
}