@font-face {
    font-family: 'Medium';
    src: url(../../public/fonts/LexendDeca-Medium.ttf);
}

@font-face {
    font-family: 'Regular';
    src: url(../../public/fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(../../public/fonts/LexendDeca-SemiBold.ttf);
}