.Lana {
    background-image: url('../../../public/images/nuvem-galaxia.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
}

.squad {
    padding: 2em;
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: rgb(11, 11, 11);
    width: 30%;
    border-radius: 1em;
}